<html>
    <body>
        <header>
    <div class="container" style="background-color: #db6930;">
        <a herf="#" routerLink="/home" class="logo">RolexTes</a>
        <!-- Providing nav bar details -->
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/home">Home</a>&nbsp;&nbsp;
                    <a href="#" routerLink="/AboutUS">AboutUS</a>&nbsp;&nbsp;
                    <a href="#" routerLink="/cart-page">Cart</a>&nbsp;&nbsp;
                    <a href="#" routerLink="/login">LogOut</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<app-home1></app-home1>
<!-- providing contact details -->
<div class="container my-5">

    <footer class="text-center text-lg-start" style="background-color: #db6930; width: 100%; height: 100px;">
      <div class="container d-flex justify-content-center py-5">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-facebook-f"><img src="../assets/in.jpg" alt=""></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-youtube"><img src="../assets/tw.jpg" alt=""></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="fab fa-instagram"><img src="../assets/f.jpg" alt=""></i>
        </button>
     
      </div>
      
      <div class="container d-flex justify-content-center py-5" style="background-color: rgba(0, 0, 0, 0.2); background-color: #db6930; width: 100%; height: 100px;">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">Rolextes Shop</a>
      </div>
     
    </footer>
    
  </div>
    </body>
</html>
